<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.hcy.mapper.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.city.hcy.model.Manager">
    <id column="managerid" jdbcType="INTEGER" property="managerid" />
    <result column="manageraccount" jdbcType="VARCHAR" property="manageraccount" />
    <result column="managerpassword" jdbcType="VARCHAR" property="managerpassword" />

  </resultMap>

  <select id="login"  resultMap="BaseResultMap">
    select 
   *
    from Manager
    where manageraccount = #{manageraccount}
  </select>

    <insert id="insert" parameterType="com.city.hcy.model.Manager">
        insert into Manager (
        manageraccount,managerpassword)
        values ( #{manageraccount}, #{managerpassword}
               )
    </insert>


</mapper>